<div class="container">
    <h1>Discord IG Bot Configuration</h1>
    <div class="row">
        <a href="https://tauri.app" target="_blank">
            <img src="/assets/tauri.svg" class="logo tauri" alt="Tauri logo" />
        </a>
        <a href="https://angular.io" target="_blank">
            <img
                src="/assets/angular.svg"
                class="logo angular"
                alt="Angular logo"
            />
        </a>
    </div>

    <p>
        Integrate your bot with a dev token, and select an Instagram account to
        scrape from below.
    </p>
    <form class="form-inputs" (submit)="greet($event, accountInput.value)">
        <div id="token-row">
            <input
                #tokenInput
                id="token-input"
                placeholder="Enter Discord dev token..."
            />
        </div>
        <div id="account-row">
            <input
                #accountInput
                id="account-input"
                placeholder="Enter an account name..."
            />
            <button id="account-search-button" type="submit">Search</button>
        </div>
    </form>
    <p>{{ greetingMessage }}</p>
</div>
