:root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;

    color: #0f0f0f;
    background-color: #f6f6f6;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

.container {
    margin: 0;
    padding-top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

h1 {
    text-align: center;
}

input,
button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    color: #0f0f0f;
    background-color: #ffffff;
    transition: border-color 0.25s;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

button:disabled {
    opacity: 0.5;
    background-color: lightgrey;
    box-shadow: none;
}

button:not([disabled]) {
    cursor: pointer;
}

button:not([disabled]):hover {
    border-color: #396cd8;
}

button:not([disabled]):active {
    border-color: #396cd8;
    background-color: #e8e8e8;
}

input,
button {
    outline: none;
}

.container {
    .body {
        position: absolute;
        top: 0;
        left: 5%;
        width: 90%;
        height: 56.25%;

        #account-box {
            float: left;
            width: 49%;
            height: 100%;

            #username {
		    margin-top: 10%;
            }

            .removal-box {
                height: 320px;
                width: 320px;
                border-radius: 10%;
                border: solid 1px black;
                box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
                transform: translate(30%, 0);
                overflow: hidden;
            }
            .removal-box:hover {
                background-color: lightgrey;
                cursor: pointer;
                #profile-pic {
                    opacity: 0.3;
                }
                .trash-icon {
                    z-index: 1000;
                    position: relative;
                    top: -60%;
                    font-size: 4em;
                    visibility: visible;
                }
            }
            .trash-icon {
                visibility: hidden;
            }
        }

        #server-log-box {
            float: right;
            width: 49%;
            height: 100%;
        }
    }

    .footer {
        position: absolute;
        transform: translate(20%, 0);
        bottom: 50px;
        width: 70%;

        .divider {
            position: absolute;
            transform: translate(0, -15px);
            width: 100%;
            border: solid lightgray 1px;
        }

        #info {
            width: 87%;
            transform: translate(7.5%, 0);
            margin-bottom: 20px;
        }

        .form-inputs {
            #token-row {
                display: flex;

                #token-input {
                    width: 100%;
		    margin-top: 10px;
                }
            }

            #account-row {
                display: flex;
                width: 100%;

                #account-input {
                    width: calc(100% - 110px);
                }

                #account-search-button {
                    margin-left: 10px;
                    width: 100px;
                }

                #prefix-input {
                    width: 100%;
                }
            }

            #build-row {
                margin-top: 25px;

                button {
                    width: 100%;
                }
            }
        }
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        color: #f6f6f6;
        background-color: #2f2f2f;
    }

    a:hover {
        color: #24c8db;
    }

    input,
    button {
        color: #ffffff;
        background-color: #0f0f0f98;
    }

    button:active {
        background-color: #0f0f0f69;
    }
}
